In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('./datasets/3.csv')

In [7]:
df.head(3)

,Entidade,Código,Ano,Participação da reciclagem do lixo total regional,Participação da queima do lixo total regional,Participação do lixo descartado e mal gerido do total regional,Participação do lixo encaminhado para aterros do total regional
0,Americas (excl. USA),NaN,2000,4.721963,1.220057,32.702644,61.355328
1,Americas (excl. USA),NaN,2001,4.972505,1.208672,32.651270,61.167557
2,Americas (excl. USA),NaN,2002,5.227469,1.197566,32.610554,60.964405

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Entidade                                                          200 non-null    object
 1    Código                                                           80 non-null     object
 2    Ano                                                              200 non-null    int64
 3    Participação da reciclagem do lixo total regional                200 non-null    float64
 4    Participação da queima do lixo total regional                    200 non-null    float64
 5    Participação do lixo descartado e mal gerido do total regional   200 non-null    float64
 6    Participação do lixo encaminhado para aterros do total regional  200 non-null    float64
dtypes: float64(4), int64(1), object(2)
memory usage: 11.1+ KB

In [23]:
df.sample()

,Entidade,Código,Ano,Participação da reciclagem do lixo total regional,Participação da queima do lixo total regional,Participação do lixo descartado e mal gerido do total regional,Participação do lixo encaminhado para aterros do total regional
194,World,OWID_WRL,2014,7.836343,17.219267,24.388899,50.555504

In [ ]:
plt.figure(figsize=(9, 5))
sns.barplot(x=df['Ano'], y=continent['Participação na emissão global de plásticos para o oceano'], palette= 'bright', hue= continent['Entidade'])

plt.title('Participação na emissão global de plásticos para o oceano por continentes no ano de 2019')
plt.ylabel('')
plt.xlabel('')

plt.show()